[Unit]
Requires=atlas-cmms-backend.service
After=atlas-cmms-backend.service

[Container]
Image=intelloop/atlas-cmms-frontend
ContainerName=atlas-cmms-frontend
Pod=atlas-cmms.pod
#EnvironmentFile=.env
Environment=API_URL=https://cmms.famdam.top/api
Environment=GOOGLE_KEY="none"
Environment=GOOGLE_TRACKING_ID="none"
Environment=MUI_X_LICENSE="none"
Environment=INVITATION_VIA_EMAIL=false
Environment=CLOUD_VERSION=false
Environment=NODE_ENV=production
Environment=ENABLE_SSO=false
Environment=OAUTH2_PROVIDER="none"
Environment=LOGO_PATHS="none"
Environment=CUSTOM_COLORS="none"
Environment=BRAND_CONFIG="none"
Environment=TZ=America/Boise
#Volume=%h/.config/containers/systemd/cmms/.env:/app/.env
