[Unit]
Requires=atlas_db.service minio.service
After=atlas_db.service minio.service

[Container]
ContainerName=atlas-cmms-backend
Image=intelloop/atlas-cmms-backend
Pod=atlas-cmms.pod
Secret=CMMS_DB_USER,type=env,target=DB_USER
Secret=CMMS_DB_PWD,type=env,target=DB_PWD
Secret=CMMS_MINIO_USER,type=env,target=MINIO_ACCESS_KEY
Secret=CMMS_MINIO_PASSWORD,type=env,target=MINIO_SECRET_KEY
Secret=JWT_SECRET_KEY,type=env,target=JWT_SECRET_KEY
#EnvironmentFile=.env
Environment=TZ=America/Boise
#Environment=DB_URL=postgres/atlas
Environment=DB_URL=atlas_db:5432/atlas
Environment=PUBLIC_API_URL=https://cmms.famdam.top/api
Environment=FASTSPRING_PWD=
Environment=FASTSPRING_USER=
Environment=PUBLIC_FRONT_URL=
Environment=GCP_BUCKET_NAME=
Environment=GCP_JSON=
Environment=GCP_PROJECT_ID=
Environment=MAIL_RECIPIENTS=
Environment=SMTP_PWD=
Environment=SMTP_USER=
Environment=SMTP_HOST=
Environment=SMTP_PORT=
Environment=SPRING_PROFILES_ACTIVE=
Environment=MINIO_ENDPOINT=http://atlas_minio:9000
Environment=MINIO_BUCKET=atlas-bucket
Environment=STORAGE_TYPE=minio #gpc|minio
#Environment=PUBLIC_MINIO_ENDPOINT=http://localhost:9000
Environment=INVITATION_VIA_EMAIL=false
Environment=ENABLE_EMAIL_NOTIFICATIONS=false
Environment=ENABLE_SSO=false
Environment=OAUTH2_PROVIDER=
Environment=OAUTH2_CLIENT_ID=
Environment=OAUTH2_CLIENT_SECRET=
Environment=LICENSE_KEY=
Environment=LICENSE_FINGERPRINT_REQUIRED=true
Environment=ALLOWED_ORGANIZATION_ADMINS=
Environment=LOGO_PATHS=
Environment=CUSTOM_COLORS=
Environment=BRAND_CONFIG=


Volume=%h/.config/containers/storage/atlas-cmms/logo:/app/static/images
#Volume=%h/.config/containers/systemd/cmms/.env:/app/.env
